# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Local Configurations & Credentials
config.json

# Local Runtime & Locks
*.log
*.lock
app.lock
client/app.lock

# Build & Dist Artifacts
dist/
build/
*.dmg

# System
.DS_Store

